@charset "UTF-8";


#msg{
	background-color: palegoldenrod;
	margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 30px;
	color: purple;
}

#form{
	margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 30px;
	
}
#reg{
	margin: auto;
    width: 100%;
    border: 3px solid black;
    padding: 30px;
	
}